@import url("https://fonts.cdnfonts.com/css/frankfurt-messe");
@import url("https://fonts.cdnfonts.com/css/jetbrains-mono");
html, html * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box !important;
  border: none;
  font-family: "Frankfurt Messe", sans-serif;
  transition: 0.35s;
}
html::selection, html *::selection {
  background: #ffeb78;
  color: #252525;
}
html::-webkit-scrollbar, html *::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-thumb, html *::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 5vmin;
}
html::-webkit-scrollbar-track, html *::-webkit-scrollbar-track {
  background: #373737;
}

logo, logo * {
  display: inline-block;
  font-weight: 400;
  color: #f5f5f5;
}
logo span {
  color: #ffeb78;
}

.button, .button2 {
  padding: 1.15vmin 3.5vmin;
  font-size: 2.5vmin;
  background: #ffeb78;
  cursor: pointer;
  color: #252525;
  border-radius: 1vmin;
  border: 0.35vmin solid #ffeb78;
}
.button:hover, .button2:hover {
  transform: translateY(-1vmin);
}

.button2 {
  background: rgba(0, 0, 0, 0);
  color: #ffeb78;
}
.button2:hover {
  background: #ffeb78;
  color: #252525;
}

header {
  height: 75dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: repeating-linear-gradient(-55deg, #252525, #252525 2vmin, #313131 2vmin, #313131 4vmin);
}
header .buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
}
header::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  content: "";
  background: linear-gradient(0deg, #252525 25%, rgba(0, 0, 0, 0) 100%);
}
header .logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}
header .logoWrapper h1 {
  font-size: 15vmin;
}
header .logoWrapper img {
  height: 100%;
  user-select: none;
  pointer-events: none;
}

section {
  background: #252525;
  height: 65dvh;
  width: 100%;
  padding: 3vmin;
}
section h1 {
  color: #f5f5f5;
  font-size: 6.5vmin;
  padding-bottom: 1.5vmin;
}
section h1 logo {
  font-size: 8vmin;
}
section h2 {
  color: #d2d2d2;
  font-size: 4vmin;
  padding-bottom: 1vmin;
}
section ul {
  color: #d2d2d2;
  font-size: 3.5vmin;
  list-style: square inside url("../bullet_scaled.png");
}
section p {
  font-size: 3vmin;
  color: #d2d2d2;
}
section p a {
  color: #ffeb78;
  cursor: pointer;
  padding: 0 0.5vmin;
  border-radius: 0.5vmin;
}
section p a:hover {
  background: #313131;
}

#s1 .textWrapper {
  height: calc(100% - 4vmin);
  width: calc(50% - 3vmin);
  border-radius: 1vmin;
  background: #373737;
  border: 0.2vmin solid #4a4a4a;
  padding: 5vmin;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  top: 2vmin;
  --x: 0;
  --y: 0;
  left: 2vmin;
}
#s1 .textWrapper * {
  z-index: 58;
}
#s1 .textWrapper::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px);
  left: calc(var(--x, 0) * 1px);
  transform: translate(-50%, -50%);
  width: 75vmin;
  aspect-ratio: 1/1;
  opacity: 0.6;
  background: radial-gradient(#5f5f5f, rgba(255, 255, 255, 0) 60%);
  opacity: 0;
}
#s1 .textWrapper::after * {
  z-index: 57;
}
#s1 .textWrapper:hover::after {
  opacity: 0.5;
}
#s1 .textWrapper2 {
  height: calc(100% - 4vmin);
  width: calc(50% - 3vmin);
  border-radius: 1vmin;
  background: #373737;
  border: 0.2vmin solid #4a4a4a;
  padding: 5vmin;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  top: 2vmin;
  --x: 0;
  --y: 0;
  right: 2vmin;
}
#s1 .textWrapper2 * {
  z-index: 58;
}
#s1 .textWrapper2::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px);
  left: calc(var(--x, 0) * 1px);
  transform: translate(-50%, -50%);
  width: 75vmin;
  aspect-ratio: 1/1;
  opacity: 0.6;
  background: radial-gradient(#5f5f5f, rgba(255, 255, 255, 0) 60%);
  opacity: 0;
}
#s1 .textWrapper2::after * {
  z-index: 57;
}
#s1 .textWrapper2:hover::after {
  opacity: 0.5;
}

#s2 {
  padding: 0 !important;
  height: 100vmin !important;
}
#s2 .textWrapper {
  height: calc(100% - 4vmin);
  width: calc(50% - 3vmin);
  border-radius: 1vmin;
  background: #373737;
  border: 0.2vmin solid #4a4a4a;
  padding: 5vmin;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  top: 2vmin;
  --x: 0;
  --y: 0;
  width: calc(100% - 4vmin);
  left: 2vmin;
  top: 0%;
}
#s2 .textWrapper * {
  z-index: 58;
}
#s2 .textWrapper::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px);
  left: calc(var(--x, 0) * 1px);
  transform: translate(-50%, -50%);
  width: 75vmin;
  aspect-ratio: 1/1;
  opacity: 0.6;
  background: radial-gradient(#5f5f5f, rgba(255, 255, 255, 0) 60%);
  opacity: 0;
}
#s2 .textWrapper::after * {
  z-index: 57;
}
#s2 .textWrapper:hover::after {
  opacity: 0.5;
}
#s2 .textWrapper::after {
  content: none !important;
}
#s2 .textWrapper .subTextWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vmin;
  height: 75vmin;
  overflow-y: scroll;
  padding: 1vmin;
}
#s2 .textWrapper .subTextWrapper code {
  padding: 0 2.5vmin !important;
  border-radius: 1vmin;
  border: 0.2vmin solid #4a4a4a;
  font-size: 2vmin;
}
#s2 .textWrapper .subTextWrapper code, #s2 .textWrapper .subTextWrapper code * {
  font-family: "JetBrains Mono", sans-serif !important;
}/*# sourceMappingURL=style.css.map */